.image-container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    div {
        width: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

.spin-container {
    grid-column: 1 / -1;
    text-align: center;
}

img.spinner {
    animation: spin 1s infinite linear;
    filter: invert(100%);
    width: 200px;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
    
}

/* dialog {

} */
